<%= simple_form_for artist  do |form| %>

    <%= form.input :name, label: 'Name', error: 'Name should not be blank.' %>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
