<div class="row">
  <div class="col">
    <%= link_to 'Add Artist', new_artist_path, class: 'btn btn-sm btn-primary' %>
  </div>

</div>
<div id="artist-list" class="row">
  <div class="col">
    <ul class="list">
      <% @artists.each do |artist| %>

          <li><%= link_to artist.name, artist, class: 'bold' %></span>
            <% if logged_in?(:site_admin) %>
              <span><%= link_to 'Edit', edit_artist_path(artist), class: 'badge badge-success' %></span>
              <span><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
