<footer class="footer">
  <div class="container center">
    <span class="text-muted">Need a website like this?</span> <%= link_to 'Contact Me', 'http://noobita.herokuapp.com/about', target: '_blank' %>
   <div class="copy text-muted">
     &copy<%= Date.today.year %> pnwchords.herokuapp.com
   </div>


  </div>
</footer>